*.swp
Session.vim
vendor/*
tags
test_roms/*
roms
.gopher2600/*
gopher2600
gopher2600.exe
*.dot
*.ps
*.pdf
recording_*
terminal_*
*cpu.profile
*mem.profile
out
out2
*.bin
*.wasm
README.html
MISSING_LICENCE
