*.swp
Session.vim
vendor/*
tags
test_roms/*
roms
.gopher2600/*
gopher2600
gopher2600.exe
gopher2600_statsview
gopher2600_statsview.exe
*.dot
*.ps
*.pdf
recording_*
terminal_*
*.profile
out
out2
output
*.wasm
README.html
MISSING_LICENCE
DODIFF
diff
coproc_*
todo.txt
