*.swp
*.swo
.DS_Store
Session.vim
*/testdata
vendor/*
tags
test_roms/*
test_roms
roms/*
roms
.gopher2600/*
gopher2600
gopher2600_*
gopher2600_*.exe
*.dot
*.ps
*.pdf
recording_*
terminal_*
*.profile
out
out2
output
*.wasm
README.html
MISSING_LICENCE
DODIFF
diff
todo.txt
armcode.map
*.csv
*.jpg
!gui/display/bevels/*.jpg
*.bin
*.macro
go.work
go.work.sum
REDUX_PLAYBACK_FILES
*.wav
rsrc_windows_amd64.syso
!hardware/cpu/tests/klaus2m5/**/*.lst
!hardware/cpu/tests/klaus2m5/**/*.bin
hardware/cpu/tests/thomharte/**/*.json
*.mp4
