name: build

on:
  push:
    branches: [ "**" ]

jobs:

  build-macos-intel:
    runs-on: macOS-13
    env:
      MACOSX_DEPLOYMENT_TARGET: 10.11
    steps:
    - name: Install dependencies
      run: |
        brew install go
        brew install sdl2
    - uses: actions/checkout@v4
    - name: Build Gopher2600 (Intel)
      run: make release
    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        name: gopher2600_darwin_amd64
        path: gopher2600_darwin_amd64

  build-macos-arm64:
    runs-on: macos-latest
    steps:
    - name: Install dependencies
      run: |
        brew install go
        brew install sdl2
    - uses: actions/checkout@v4
    - name: Build Gopher2600 (ARM64)
      run: make release
    - name: Upload package
      uses: actions/upload-artifact@v4
      with:
        name: gopher2600_darwin_arm64
        path: gopher2600_darwin_arm64

# TODO: Add Windows and Linux builds